
body{
    background-image: url(pexels-polina-tankilevitch-4519014.jpg);
    font-size: 20px;

 
}
.menu{
    width: 50%;
    margin: auto;
    background-color:beige;

}

h1{
    text-align: center;
     color:black;
    padding: 30px;
    

}
.section{
    margin-bottom:20px;
}
.section h2{
    color:brown;
    font-style: italic;
   
}

.food-item{
    background: white;
    border: 3px dotted brown;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    
    
   
}

.food-item img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}


.food-item h3{
    color:sienna;
    font-size: 30px;
    
}
.food-item .decrement{
   width: 20px;

}
.food-item .increment{
    width: 20px;
}


button{
    margin: 5px;
}
.order-button{
    width: 40%;
    padding:10px;
    background-color:beige;
    color: black;
    border-radius: 10px;
    
}
.order{
    width: 100%;
    padding: 20px;
    background-color:lightsalmon;
    font-weight: 600;
    border-radius: 10px;
}

 .star-rating{
    display:inline-block;
  }
  .star-rating i {
    color:white; 
    font-size: 1.5em; 
    margin-right: 5px; 
}
.checked{
    color: yellow;
}